body {
    background-color: #222222;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 5vw;
    padding-top: 0vw;
}
.container-previews {
    max-width: 800px;
    margin: 0 auto;
    padding: 1vw;
    padding-top: 0vw;
}

header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4vw;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 3vw;
}

.menu-header {
    background-color: #333333; /* Imposta lo sfondo solo per l'header di menu.html */
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 2vw;
}

h1 {
    font-size: 10vw;
    flex-grow: 1;
    text-align: center;
    margin:1vw;
    margin-right: calc(7vw + 1em); /* Sottrai la larghezza della freccia (5+2vw) e un margine di 1em */
}

h2 {
    font-size: 6vw;
    margin-top: 5vw;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    font-size: 5vw;
    margin-right: 2vw;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Rimuovi il margine dall'elenco degli elementi */
}

li {
    margin-bottom: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 5vw;
}

.price {
    margin-left: 5vw;
}

.item-list {
    max-height: 0;
    opacity: 0; /* Usa opacity invece di display: none */
    overflow: hidden;
    transition: max-height 0.6s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.6s ease-out; /* Aggiungi l'animazione di transizione con cubic-bezier */
}



.item-list.show {
    display: block;
    opacity: 1; /* Mostra la categoria espansa */
}

/* Colore dei testi delle categorie */
.category {
    background-color: #333333;
    padding: 2vw;
    border-radius: 5vw; /* Imposta il border-radius a 5vw per arrotondare gli angoli */
    margin-bottom: 5vw;
    color: white; /* Il colore del testo delle categorie è bianco di default */
    
    /* Aggiungi contorno alle card delle categorie */
    outline: 1px solid #f7f612;
}

/* Colore del testo delle categorie quando la card è espansa */
.category .category-title.expanded {
    color: #f7f612;
}

.home-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.previews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: space-around;
	gap: 0 2vw;
	text-transform: capitalize;
}

#load{
	width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("loading.gif") no-repeat center;
    background-size: 40%;
    left: 50%;
    transform: translate(-50%, 0);
}


.card {
    background-color: #333333;
    padding: 0vw;
    border-radius: 5vw; /* Imposta il border-radius a 5vw per arrotondare gli angoli */
    margin-bottom: 5vw;
    color: white; /* Il colore del testo delle categorie è bianco di default */
    
    /* Aggiungi contorno alle card delle categorie */
    outline: 1px solid #f7f612;
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.card a {
    text-decoration: none;
    color: #ffffff;
}

.social-links {
    text-align: center;
    margin-top: 3vw;
}

.social-links a {
    display: inline-block;
    margin: 0 3vw;
}

.social-links img {
    max-width: 15vw;
    max-height: 100px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 150px; /* replace with actual footer height */
}

.back-arrow {
    width: 10vw; /* Imposta la larghezza della freccia come la grandezza del testo */
    height: 10vw; /* Imposta l'altezza della freccia come la grandezza del testo */
    cursor: pointer;
    transition: fill 0.3s ease-in-out;
    border: #ffffff;
    margin: 2vw;
}

/* Colore di default */
.back-arrow path {
    fill: #f7f612;
}

/* Al passaggio del mouse */
.back-link:hover .back-arrow path {
    fill: #ffffff;
}


/* Stile per il titolo dell'album */
.album-title {
    margin-bottom: 15px; /* Aggiunge uno spazio tra il titolo e l'immagine */
    
}

.albums{
    width: 100%;
    text-align: center;
    padding-top: 200px;
    display: flex;
    justify-content: center;
    color: white;
    overflow: hidden;
    background: #dab66b;  /* fallback for old browsers */
    background: linear-gradient(rgb(255,235,130,0.4), rgb(0,50,50,0.9)), var(--background-image-url);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5vw;
}

/* Media Query per dispositivi con larghezza maggiore di 550px */
@media (min-width: 551px) {

	header {
    	text-align: center;
    	margin-bottom: 20px;
	}

    h1 {
        font-size: 60px;
    }
    
    .back-arrow {
    width: 60px; /* Imposta la larghezza della freccia come la grandezza del testo */
    height: 60px; /* Imposta l'altezza della freccia come la grandezza del testo */
}


    h2 {
        font-size: 30px;
        margin-top: 20px;
    }

    li {
    	margin-bottom: 20px;
        font-size: 25px;
        margin-top: 20px;
    }
    .arrow {
        font-size: 30px;
    }


    .container {
        padding: 20px;
    }
    
    .price {
    margin-right: 3vw;
	}
    
    .category {
    background-color: #333333;
    padding: 20px;
    border-radius: 30px; /* Imposta il border-radius a 5vw per arrotondare gli angoli */
    margin-bottom: 30px;
    color: white; /* Il colore del testo delle categorie è bianco di default */
    
    /* Aggiungi contorno alle card delle categorie */
    outline: 2px solid #f7f612;
}

.card {
    border-radius: 30px; /* Imposta il border-radius a 5vw per arrotondare gli angoli */
    margin-bottom: 30px;
    color: white; /* Il colore del testo delle categorie è bianco di default */
    
    /* Aggiungi contorno alle card delle categorie */
    outline: 2px solid #f7f612;
    width: 100%;
    text-align: center;
}

.albums{
	 border-radius: 30px;
	 padding-top: 250px;
}

.container-previews {
    max-width: 1500px;
    margin: 0 auto;
    padding: 1vw;
    padding-top: 0vw;
}

#load {
	background-size: 10%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 200px; /* replace with actual footer height */
}

}

